body {
    margin: 0;
    box-sizing: border-box;
}

.h1 {
    margin-left: 10px;
}

.tableRow {
    overflow: auto;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.dataElement {
    font-size: 15px;
    float: left;
    width: auto;
    margin: auto 5px auto 0;
    padding: 2px;
    text-align: center;
}

.tableHeader {
    font-weight: bold;
    overflow: auto;
}

.car {
    border: 2px solid black;
    margin: 5px 5px 5px 10px;
    width: 350px;
    display: inline-block;
}



