* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#tableHeader {
    font-weight: bold;
}

.h1 {
    margin-left: 10px;
}

.car .tableRow {
    overflow: auto;
    width: 100%;
    border: 1px solid black;
}

.dataElement {
    font-size: 15px;
    float: left;
    margin: auto 5px auto 0;
    padding: 6px;
}

.tableHeader {
    font-weight: bold;
    overflow: auto;
}

.car {
    border: 2px solid black;
    margin: 5px 5px 5px 10px;
    width: auto;
    float: left;
}

.newCar {
    border: 2px solid black;
    margin: 20px;
    width: 350px;
    float: left;
    text-align: center;
}

.newCar .dataElement {
    width: 100%;
    font-size: 15px;
    float: left;
    margin: auto 5px auto 0;
    padding: 2px;
}

input {
    margin-bottom: 5px;
}

select {
    margin-bottom: 5px;
}

@media screen and (max-width:500px) {
    .car {
    width: 250px;
    margin: 10px 10px;
    }
}



