body {
    margin: 0;
    box-sizing: border-box;
}

.tableRow {
    overflow: auto;
    width: 100%;
    border: 1px solid black;
}

.dataElement {
    font-size: 15px;
    float: left;
    width: 100px;
    margin-left: 5px;
    padding: 2px;
    overflow: auto;
}

.tableHeader {
    font-weight: bold;
    border-right: 2px solid black;
    overflow: auto;
}

.car {
    border: 2px solid black;
    margin-bottom: 5px;
    width: 400px;
}



